.App {
    display: flex;
    max-width: 1024px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: whitesmoke;
}

input {
    background-color: #242627;
    border: solid 2px #16A085;
    border-radius: 10px;
    color: whitesmoke;
}

@media screen and (max-width: 1024px) {
    .App {
        max-width: 800px;

    }
}